<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
		<appSettings>
		<add key="namebd" value="gestion_notas"/>
		<add key="user" value="root"/>
		<add key="pass" value="Eduardo99"/>
		<add key="host" value="127.0.0.1"/>
	</appSettings>
</configuration>